<div class="table">
    <div class="flex-absolute-container">
        <div class="card kitty-card">
            <div class="back-card">
                <div class="crow">
                </div>
            </div>
        </div>
        <div class="card kitty-card">
            <div class="back-card">
                <div class="crow">
                </div>
            </div>
        </div>
        <div class="card kitty-card">
            <div class="back-card">
                <div class="crow">
                </div>
            </div>
        </div>
        <div class="card kitty-card">
            <div class="back-card">
                <div class="crow">
                </div>
            </div>
        </div>
        <div class="card kitty-card">
            <div class="back-card">
                <div class="crow">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="cards">
    <app-rook-card *ngFor="let card of cards" [card]="card">
    </app-rook-card>
</div>