<div class="table">

    <div *ngIf="playerNames.length > 3" class="top-players">
        <app-player *ngFor="let player of topPlayers; let i = index" [playerInfo]="playerInfo" [playerIndex]="i+2" [globalIndex]="(index+i+2)%this.numberOfPlayers"></app-player>
    </div>

    <div class="flex-row">
        <app-player [playerInfo]="playerInfo" [playerIndex]="1" [globalIndex]="(this.index+1)%this.numberOfPlayers"></app-player>
        <div *ngIf="playing" class="playing-table">

        </div>
        <div *ngIf="!playing" class="kitty">
            <app-rook-card *ngFor="let card of kitty" [card]="card" (click)="cardClicked(card)">
            </app-rook-card>
        </div>
        <app-player [playerInfo]="playerInfo" [playerIndex]="this.numberOfPlayers-1" [globalIndex]="(this.index + this.numberOfPlayers-1)%this.numberOfPlayers"></app-player>
    </div>
</div>

<div class="cards">
    <div *ngIf="playing && playedCards[0] !== null" class="played-card-bottom">
        <app-rook-card [card]="playedCards[0]" (click)="cardClicked(card)">
        </app-rook-card>
    </div>
    <app-rook-card *ngFor="let card of cards" [card]="card" (click)="cardClicked(card)">
    </app-rook-card>
</div>

<app-info-snack [ngClass]="{'current-player': currentPlayerIndex === 0}">
    <table>
        <tr>
            <th>We</th>
            <th>They</th>
            <th>Bid</th>
            <th>Er</th>
            <th>trump</th>
        </tr>

        <tr *ngFor="let round of rounds">
            <td>{{round.points[this.index]}}</td>
            <td>{{round.points[(this.index+1)%numberOfPlayers]}}</td>
            <td>{{round.bid === 75 ? "80" : round.bid}}</td>
            <td>{{round.bidWinner | bidDisplay : index : playerNames}}</td>
            <td>
                <div [ngStyle]="{'background-color': round.trump | tableColor}" class="dot"></div>

            </td>
        </tr>
    </table>
</app-info-snack>