<div class="table">
    <div class="player-container">
        <div class="circle-name">MK</div>
        <div class="top-player player">


            <app-rook-card *ngFor="let card of kitty" [card]="card">
            </app-rook-card>
        </div>
    </div>
    <div class="flex-row">
        <div class="player-container">
            <div class="circle-name">GK</div>
            <div class="left-player player">


                <app-rook-card *ngFor="let card of kitty" [card]="card">
                </app-rook-card>
            </div>
        </div>
        <div class="kitty">
            <app-rook-card *ngFor="let card of kitty" [card]="card" (click)="cardClicked(card)">
            </app-rook-card>
        </div>
        <div class="player-container">
            <div class="circle-name">AK</div>
            <div class="right-player player">


                <app-rook-card *ngFor="let card of kitty" [card]="card">
                </app-rook-card>
            </div>
        </div>
    </div>
</div>

<div class="cards">
    <app-rook-card *ngFor="let card of cards" [card]="card" (click)="cardClicked(card)">
    </app-rook-card>
</div>