:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    width: 100%;
}

.table {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
}

.flex-center {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.flex-center-h {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.flex-absolute-container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kitty-card:not(:first-child) {
    margin-left: -10rem!important;
}