<div class="col-sm-12 col-md-6 col-md-offset-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input
            class="form-control"
            id="email"
            type="email"
            formGroupName="email" 
            >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
            class="form-control"
            id="password"
            type="password"
            formGroupName="password" 
            >
        </div>
        <button class="btn btn-primary" type="submit" [class.disabled]="!loginForm.valid">Log In</button>
        <button class="btn btn-primary" type="button" routerLink="/register">Swith to Sign Up</button>
    </form>
</div>
