
<button class="btn btn-primary" (click)="openDialog()">Add Game</button>
<div *ngIf="errorMessage" class="row">
    <div class="col-sm-6">
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    </div>
</div>


<router-outlet></router-outlet>
<div *ngFor="let game of games" class="list-group">
    <a style="cursor: pointer;" class="list-group-item ">
        <div class="row">
            <div class="col-sm-4">
                <div >Game: {{game.name}}</div>
                <button class="btn btn-primary" [class.disabled]="(slectedGame && game.id === selectedGame.id) || game.finished" (click)="joinGame(game)">Join</button>
            </div>
            <div class="col-sm-4">
                <div class="list-group">
                    <li class="list-group-item" *ngFor="let player of game.playerNames">{{player}}</li>
                </div>
            </div>
            <div *ngIf="!game.finished" class="col-sm-4">
                {{game.numberOfPlayers - game.playerNames.length | display}}
            </div>
            <div *ngIf="game.finished" class="col-sm-4">
                This Game is no longer active
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div *ngIf="game.throwOutPoints" class="row">
                You can throw out points and last trick will get them
                </div>
                <div *ngIf="!game.throwOutPoints" class="row">
                    You cannot throw out points
                </div>
                <div *ngIf="game.lastTrick" class="row">
                You get 10 points for last trick
                </div>
                <div *ngIf="game.mostCards" class="row">
                    You get 10 points for most cards
                </div>
            </div>
        </div>
    </a>
</div>