<div *ngIf="numberOfUnreadMessages > 0" [ngStyle]="{'color': 'white'}" class="square-icon">{{numberOfUnreadMessages}}</div>
<div #circle class="circle-button" (click)="toggleChat()">
    <div class="circle-icon">

    </div>



</div>


<div #chat [class.show-chat]="this.chatOpen" class="info-box">
    <div #scrollbox class="messages">
        <div *ngFor="let message of messages" [class.me]="message.me" [class.other]="!message.me">
            <div>
                <div *ngIf="!message.me" class="message-title">{{message.user}}</div>
                <div class="message">{{message.message}}</div>
            </div>
        </div>
    </div>
    <div class="input-container">
        <input autocomplete="off" class="message-input" type="text" (keydown)="keyDown($event)" autofocus matInput #message>
        <button class='btn btn-primary message-submit-button' type="submit" (click)="sendMessage(message.value)">Send</button>
    </div>
</div>