mat-form-field {
    margin-right: 15px;
}

.cdk-overlay-pane {
    max-width: 90vw;
}

.subheading {
    font-weight: 500;
    color: grey;
}

.subheadingbold {
    font-weight: 500;
    color: black;
}