<div class="snack-container">
    <div class="snack-message">
        <div *ngIf='bid' class="bid-flex">
            <span class="current_bid"> 
            {{data.payload}}
            </span>
            <span class="subtract" (click)="decrementBid()"></span><span class="add" (click)="incrementBid()"></span>
        </div>
        {{message}}

    </div>
    <div class="snack-actions">
        <button *ngIf='discard' (click)="emitAction('discard', null)" mat-raised-button color="primary">Discard</button>
        <button class="mr" (click)="emitAction('bid', data.payload)" *ngIf='bid' mat-raised-button color="primary">Bid</button>
        <button *ngIf='bid' (click)="emitAction('bid', 0)" mat-raised-button color="accent">Pass</button>
    </div>
</div>