
<form [formGroup]="myForm" (ngSubmit)="enterGame()" class="form-flex ">

    <div *ngIf="errorMessage" class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                {{errorMessage}}
            </div>
        </div>
    </div>
    <div class="row top">
        <div class="col-sm">
            <mat-form-field>
                <input matInput placeholder="Game Name" formControlName="name">
            </mat-form-field>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-sm wrap">
            <mat-dialog-content>
                <mat-form-field class='w-100' >
                    <input type="number" autocomplete="off" placeholder="Number of Players"  matInput formControlName="numberOfPlayers">
                </mat-form-field>
            </mat-dialog-content>
        </div>
    </div>
    <div>
        <div class="row">
            <mat-checkbox class = "tp-margin" formControlName = "lastTrick">Last Trick 10 pts</mat-checkbox>
        </div>

        <div class="row">
            <mat-checkbox class = "tp-margin" formControlName = "mostCards">Most Cards 10 pts</mat-checkbox>
        </div>
        <div class="row">
            <mat-checkbox class = "tp-margin" formControlName = "throwOutPoints">Throw Out Points Allowed</mat-checkbox>
        </div>

    </div>

    <div class="row flex-row">
        <div class="col-sm wrap">
        <mat-form-field class='w-100'>
            <mat-label>Play until</mat-label>
            <select matNativeControl formControlName = "pointsToWin">
                <option *ngFor="let points of pointsOptions" [value]="points">{{points}}</option>
            </select>
            </mat-form-field>

        </div>

            
    </div>
    <div class="row flex-row">
        <div class="col-sm-2 wrap">
            <button mat-button class="btn btn-primary" color="primary" type="submit" [disabled]="myForm.invalid">Create Game</button>
        </div>
    </div>



</form>

